{% extends 'base.html' %}

{% block title %} Sign In | Hop & Barley {% endblock %}

{% block content %}

  <div class="auth-background">
    <img src="../static/img/background/pattern.jpg" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--login">
      <div class="Legend">
        <h1 class="auth-title">Sign In</h1>
      </div>

      <form class="auth-form" method="post">
        {% csrf_token %}
        <div class="InputField">
          <label for="email">Почта</label>
          <input type="email" id="email" name="email" class="Input" placeholder="example@mail.ru" required>
        </div>
        <div class="InputField">
          <label for="password">Пароль</label>
          <input type="password" id="password" name="password" class="Input" placeholder="****" required>
        </div>

        <div class="ButtonGroup">
          <button type="submit" class="button button--primary">Вход</button>
        </div>

        <div class="TextLink">
          <a href="forgot_password.html">Забыли пароль?</a>
        </div>
      </form>

      <p class="auth-switch">Нет аккаунта ?<a href="register.html">Регистрация</a></p>
    </div>
  </div>


{% endblock %}